osx_image: xcode8.3
dist: trusty
sudo: false
language: node_js
branches:
  only:
  - master
  - /^v.*$/
node_js: '8'
env:
  global:
  - ELECTRON_CACHE=$HOME/.cache/electron
  - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
os:
- linux
- osx
cache:
  yarn: true
  directories:
  - node_modules
  - app/node_modules
  - "$HOME/.cache/electron"
  - "$HOME/.cache/electron-builder"
  - "$HOME/.npm/_prebuilds"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - icnsutils
    - graphicsmagick
    - xz-utils
    - xorriso
before_install:
- yarn global add greenkeeper-lockfile@1
- mkdir -p /tmp/git-lfs && curl -L https://github.com/github/git-lfs/releases/download/v2.2.0/git-lfs-$([
  "$TRAVIS_OS_NAME" == "linux" ] && echo "linux" || echo "darwin")-amd64-2.2.0.tar.gz
  | tar -xz -C /tmp/git-lfs --strip-components 1 && /tmp/git-lfs/git-lfs pull
install:
- export CXX="g++-4.8"
- yarn
- cd app && yarn && cd ..
before_script:
- greenkeeper-lockfile-update
script:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then yarn package-linux; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then yarn package -- --mac --win; fi
before_cache:
- rm -rf $HOME/.cache/electron-builder/wine
after_script: greenkeeper-lockfile-upload
deploy:
  provider: releases
  api_key:
    secure: tbSI8khaTKW1JlqEqHvUsW/qkzbN/5YPaO/0IwsCTPQlV0sM8zUC2DwLhNfna2naOqIbUs24bmR1RljFpLNLJqM5EJfislqJWo+oD+adK3wSo5w+JiQholqHelIjbbssrKpX/2ObhlYRqYgRLP8UxB7nKFAlkspcxD0cLTcR3PPiUi4sG8rPtCCvgHijO9Qtw4CirUz8uzxdv0wOyJOUqmwQAKFiXWMvpH0lY2EERIypZ3yJJxI3ky9WfntoBesNfh2tpDFbK+PYc4uGOsKrhepEUxEz7Vz6AhpUj7O2AvmflU6kg1kCObtoxHmyIIYXgVH44S5CXY8Tsc1ITvjx3HKZfBsABRjPWHBhQFon5aMmudvY9C8N6K97UWlTcYzVgofYYPCAx5bp8GO9Z10xBrTFJ9nFhfDGWvdu7YKwxqMxL3lPCCjVLTStFUgU9Ms09PXjsG+elcAmoeiqgLKuF1+lGrMOJStY7ojodPiLFjalh5Z24vbxCrxu7L0mQ/h4lmD4togNVWjWEmmqKMRNXkWa7BRDOtyVBL3B0mTZ+NzM3q4tqBgXhtKApw/RdLXIjGUKLecgqGz8FsSaFgqsv+MsALuaRwrEoaldVYtChDMzAcJg2aBfcUzyuoUBQ9DdSvbV63a0jXF6C/20bHS8dB5KoAOGEusA0UKE+wmyC+Y=
  file:
    - release/RPM-1.0.0.dmg
    - release/RPM-1.0.0-mac.zip
    - release/RPM Setup 1.0.0.exe
  skip_cleanup: true
  on:
    repo: kenhuang/rpm-desktop
    tags: true
